**/.DS_STORE

cagent/

.claude/settings.local.json
.copilot/

cache/

composer/auth.json

configstore/

exercism/**

gcloud/**

gh/*

github-copilot/**

iterm2/AppSupport

karabiner/automatic_backups/

local/share/caddy/**
local/share/nvim/**
local/share/uv/
local/share/nvim/.netrwhist
local/share/nvim/telescope_history
local/share/direnv

local/bin/idea
local/bin/rubymine
local/bin/pycharm
local/bin/python*

StardewValley/**

tmux/tpm/**

zed/.tmp*
zed/embeddings/

zsh/.iterm2/**
zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_private
zsh/.secrets/
zsh/.zsh_sessions/

