zed/.tmp*
zed/embeddings/
gh/*

zsh/.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions/

github-copilot/**
iterm2/

cache/
local/share/nvim/plugged/
local/share/nvim/telescope_history
local/share/nvim/.netrwhist
karabiner/automatic_backups/
