zed/.tmp*
zed/embeddings/
gh/*

tmux/tpm/**

zsh/.iterm2/**
zsh/.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions/

github-copilot/**
iterm2/

cache/
local/share/nvim/**
local/share/nvim/telescope_history
local/share/nvim/.netrwhist
karabiner/automatic_backups/

**/.DS_STORE
